* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #575860;
    margin: 0;
    padding: 0;

}


h1 {
    letter-spacing: 5px;
    color: white;
    background-color: rgb(28, 28, 75);
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#products {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #aaacbc;
    border-radius: 20px;
    padding: 15px;
    margin:  15px;
    justify-content: space-around;
    
}

.product {
    border-radius: 20px;
    border: 1px solid #888;
    padding: 24px;
    box-shadow: 0 0 25px #191818; 
    width: 300px;
    height: 100px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    transition: 1s ease-in-out;
    background-color: #383841;
    margin-top: 20px;

}
.product:hover {
    height: 300px;
}

.title {
    color: rgb(232, 219, 219);
    padding: 0;
    margin: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

a#link {
    color: rgb(66, 203, 227);
    font-size: 30px;
    margin-right: 80px;
    width: 110px;
    display: flex;
    justify-content: center;

}
a#link:hover {
    /* border-bottom: 4px solid #2d1cea; */
    background-color: #2600ff4f;
}

.pageTitle{
    display: flex;
    justify-content: space-between;
    background-color:#1f1f22;
    padding: 20px 10px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    letter-spacing: 5px;
    align-items: center;
    height: 40px;
    margin: 15px 15px;
    
  }

.headtitle{
    background: linear-gradient(to right, #ff5733, #f5a623, #e9e622, #41dc57, #23e2f5);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 80px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    letter-spacing: 10px;
  }

.brand {
    font-weight: bold;
    padding: 15px;
    color: rgb(223, 251, 255);
}
.price {
    margin-left: 10px;
    text-align: left;
    color: rgb(248, 0, 0);
    font-size: 17px;
    font-weight: 400;
}

img {
    display: flex;
    width: 150px;
    min-height: 100px;
    padding-bottom: 5px;
    left: 50%;
    top: 50%;



}
a {
    text-decoration: none;
    color: black;
}

marquee {
    color: aqua;
}
